{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h1>Служба технической поддержки</h1>
  <p class="lead">Добро пожаловать в автоматизированную систему учёта оргтехники Московского университета имени С.Ю. Витте.</p>

  <p>Через нашу систему можно:</p>
  <ul>
    <li>Подать заявку на обслуживание оборудования</li>
    <li>Просмотреть историю ремонтов</li>
    <li>Связаться с технической службой</li>
  </ul>

  <a href="{% url 'login' %}" class="btn btn-primary">Войти в систему</a>
</div>
{% endblock %}