{% extends "base.html" %}
{% block title %}Панель пользователя{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Пользователь: {{ request.user.username }}</h2>
    <p>Доступные действия:</p>
    <ul class="list-group mt-3">
        <li class="list-group-item"><a href="{% url 'create_ticket' %}">Создать заявку</a></li>
        <li class="list-group-item"><a href="{% url 'list_tickets' %}">Мои заявки</a></li>
        <li class="list-group-item"><a href="{% url 'list_articles' %}">Статьи и справка</a></li>
        <li class="list-group-item"><a href="{% url 'feedback' %}">Обратная связь</a></li>
        <li class="list-group-item"><a href="{% url 'report_tickets' %}">Мои отчёты</a></li>
    </ul>
</div>
{% endblock %}